``` =html
<header>
    <section class="mt-8 md:mt-20">
        <div class="width-control px-2 mx-auto flex flex-col items-center gap-5">
            <strong class="text-center block font-extrabold text-sm">MONITORING AND OBSERVABILITY SOFTWARE</strong>
            <h1
                class="text-center text-4xl md:text-5xl font-extrabold dark:text-white">
              Find and Fix Production issues<br/>before customers notice
            </h1>
            <p
                class="text-gray-700 text-2xl dark:text-inherit leading-snug max-w-[800px]  text-center font-normal">
            Observe, Debug & Test backend systems or any third party APIs.<br/>With Advanced Error & Breaking Change Detection in APIs.
            <p>
            <div class="flex items-center gap-4 text-center">
                <a href="https://app.apitoolkit.io" class="btn btn-secondary sm:w-56">Start for free</a>
                <a href="https://apitoolkit.io/demo" class="btn btn-outline btn-neutral sm:w-56m">Get a
                    demo</a>
            </div>
            <div class="mt-2 flex items-center gap-3 text-sm">
                <p><span class="text-green-600">✓</span> Privacy Controls</p>
                <p><span class="text-green-600">✓</span> GDPR Compliant</p>
                <p><span class="text-green-600">✓</span> Security First</p>
            </div>
            <!-- TrustBox Rating -->
            <a class="mt-4 flex items-center gap-3" href="https://trustpilot.com/review/apitoolkit.io" target="_blank" rel="noopener noreferrer">
                <img src="/assets/img/trustpilot-stars-4.5.svg" class="w-28" alt="APItoolkit Trustpilot Rating" />
                <img class="w-20 dark:hidden" src="/assets/img/trustpilot-black.svg" alt="Trustpilot Logo" />
                <img class="w-20 hidden dark:inline-block" src="/assets/img/trustpilot-white.svg" alt="Trustpilot Logo" />
            </a>
            <!-- End TrustBox Rating -->
        </div>
        <div class="text-center pt-20">
          <img src="/assets/img/screenshot-tiles.png" class="max-w-[1024px] inline-block w-full"/>
        </div>

        {% render "default/components/customers" %}
        
    </section>
</header>
```
