{{- $image := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) -}}
{{if $image}}
  {{ if .Title }}
    <figure>
      <img  src="{{- $image.RelPermalink -}}" alt="{{- .PlainText | htmlUnescape -}}" />
      <figcaption>{{ .Title }}</figcaption>
    </figure>
  {{ else }}
    <img  src="{{- $image.RelPermalink -}}" alt="{{- .PlainText | htmlUnescape -}}" />
  {{ end }}
{{else}}
<figure>
   <img  src="{{.Destination | safeURL}}" alt="{{ .PlainText | htmlUnescape }}" />
   <div>{{ .Title | htmlUnescape | safeHTML}}</div>
</figure>
{{end}}
