{% render "default/components/head", this:this, config:config %}
{% render "default/components/nav", this:this, config:config%}
<main>
    {{this.content}}
</main>
{% render "default/components/foot", this:this, config:config %}
