{% render "default/components/head", this:this %}
{% render "default/components/nav", this:this %}
<main class="text-center ">
  <section class="inline-block text-left prose prose-lg py-28 max-w-[85ch] w-full">
    {{this.content}}
  </section>
</main>
{% render "default/components/foot", this:this %}
