@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-size: 18px;
}

.text-blue-title {
  color: #353f5f;
}

.text-2xs {
  font-size: 0.464rem;
}

@layer base {
  h1 {
    @apply text-2xl md:text-4xl font-bold;
  }
  h2 {
    @apply text-xl md:text-2xl font-medium;
  }
  h3 {
    @apply text-lg font-medium;
  }
  h4 {
    @apply text-base font-medium;
  }
  img {
    @apply max-w-full;
  }
}

@layer components {
  .our_container {
    @apply md:max-w-4xl inline-block text-left px-4;
  }
  .feature_img {
    @apply w-32 sm:w-64 col-span-2;
  }

  .home-feature-image-div {
    @apply flex flex-1 aspect-[4/3] prose prose-2xl;
    @apply justify-center items-center p-5 rounded-xl;
    background: #EB3349;  /* fallback for old browsers */ 
    /* background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */ 
    /* background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background: linear-gradient(to right, rgba(169,208,113,0.05), rgba(136,173,215,0.15)); 
    flex: 1.6;
  }

  .home-feature-image-div img {
    @apply rounded-lg drop-shadow-xl border-4 border-gray-200;
  }
  .home-feature-section p {
    @apply py-3;
  }
  .home-feature-text-box {
      @apply px-8 max-w-prose; 
   }

  .gradient1{
    background: #EB3349;  /* fallback for old browsers */ 
    /* background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */ 
    /* background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background: linear-gradient(to right, rgba(169,208,113,0.05), rgba(136,173,215,0.15));
    }

  .bg-gradient-yellow{
      background: hsla(38, 81%, 52%, 1);
      background: linear-gradient(90deg, hsla(38, 81%, 52%, 1) 0%, hsla(62, 76%, 64%, 1) 100%);
      background: -moz-linear-gradient(90deg, hsla(38, 81%, 52%, 1) 0%, hsla(62, 76%, 64%, 1) 100%);
      background: -webkit-linear-gradient(90deg, hsla(38, 81%, 52%, 1) 0%, hsla(62, 76%, 64%, 1) 100%);
      filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E89D1F", endColorstr="#E4E95D", GradientType=1 );
    }

    /* https://coolors.co/palette/dc562e-001d3d-003566-ffc300-ffd60a */
    .bg-yellow-x-dark {
      background-color: hsla(46, 100%, 50%, 1);
    }
    .bg-yellow-x-light {
      background-color: hsla(50, 100%, 52%, 1);
    }
    .text-blue-x-dark {
      color:  hsla(211, 100%, 1%, 1);
    }
    .bg-blue-x-dark {
      background-color: hsla(211, 100%, 1%, 1);
    } 
    .bg-blue-x-light {
      background-color: hsla(209, 100%, 20%, 1);
    }
    .bg-orange-x-dark {
      background-color: hsla(14, 71%, 52%, 1);
    }
    .bg-bisque-x {
      background-color: hsl(33deg 100% 88%);
    }

}

.ul-1 {@apply pl-3 pb-1 space-y-1; }
.ul-2 {@apply pl-5 pb-1 space-y-1; }
.ul-3 {@apply pl-7 pb-1 space-y-1; }


