@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
  }
}

@layer base {
  h1 {
    @apply text-2xl md:text-6xl font-black;
  }
  h2 {
    @apply text-xl md:text-5xl font-bold;
  }
  h3 {
    @apply text-xl md:text-4xl font-bold;
  }
  h4 {
    @apply text-lg md:text-xl font-bold;
  }
  img {
    @apply max-w-full;
  }
}

@layer components {
  .width-control {
    width: min(100vw, 1100px);
    padding-inline: 8px;
  }

  .section-line {
    background: linear-gradient(
      180deg,
      rgba(236, 237, 240, 0),
      #ecedf0 19.27%,
      #ecedf0 79.17%,
      rgba(236, 237, 240, 0)
    );
    overflow: hidden;
    position: relative;
  }

  .section-line::after {
    animation: movingline 6s ease infinite forwards;
    background: linear-gradient(180deg, #dde9ff, #266df0 86.46%, #dde9ff);
    content: ' ';
    display: block;
    height: 0;
    position: absolute;
    top: -10%;
    width: 1px;
  }

  @keyframes movingline {
    0% {
      height: 500px;
      top: -100%;
    }
    50%,
    100% {
      height: 0px;
      top: 100%;
    }
  }

  .light-shadow {
    box-shadow: 0 0 0 0.5px #e4e5e9, 0 0 0 1px #e4e5e999, 0 0 0 3.5px #f9f9fb,
      0 0 0 4px #f3f4f7;
  }

  .dark-shadow {
    box-shadow: 0 0 0 1px #3d414980, 0 0 0 3px #25272bcc, 0 0 0 4px #2d2f36cc;
  }
  .ripple {
    background: radial-gradient(white, #266df0);
    animation: ripple 3s ease-out var(--animation-delay) infinite;
  }

  @keyframes ripple {
    0% {
      width: 0;
      height: 0;
    }

    80% {
      width: 120px;
      height: 120px;
    }
    100% {
      opacity: 0;
    }
  }
}
.active-tab {
  @apply text-gray-700;
}

* {
  min-width: 0;
}
