@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-size: 20px;
  }

  .text-blue-title {
    color: #353f5f;
    /* @aply text-sky-700; */
  }

  .text-2xs {
    font-size: 0.464rem;
  }
}

.bg-blue-x-light {
  background-color: #003566;
}
@layer base {
  h1 {
    /* prettier-ignore */
    @apply text-2xl md:text-5xl font-black;
  }
  h2 {
    /* prettier-ignore */
    @apply text-xl md:text-3xl font-bold;
  }
  h3 {
    @apply text-xl font-medium;
  }
  h4 {
    @apply text-lg font-medium;
  }
  img {
    @apply max-w-full;
  }
}

.tool-card-highlight {
  display: none;
  content: '';
  position: absolute;
  top: 150px;
  left: 150px;
  width: 100px;
  border-radius: 50%;
  z-index: 3;
  height: 100px;
  background-color: rgb(251 191 36);
  opacity: 0.35;
  @apply blur-3xl;
}

.our_container {
  /* prettier-ignore */
  width: min(100vw, 1300px);
  display: inline-block;
  text-align: left;
  padding: 0 20px;
}

#video_highlight {
  background: conic-gradient(
    white 48%,
    #fef3c7 50%,
    rgb(30 58 138) 52%,
    #fef3c7 54%,
    white 0 100%
  );
  height: 200%;
  width: 200%;
  top: -50%;
  left: -50%;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(-30deg);
  }

  20% {
    transform: rotate(105deg);
  }
  25% {
    transform: rotate(75deg);
  }
  50% {
    transform: rotate(195deg);
  }
  55% {
    transform: rotate(165deg);
  }
  70% {
    transform: rotate(285deg);
  }
  75% {
    transform: rotate(255deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav_link {
  position: relative;
  padding: 2px;
  overflow: hidden;
}
.nav_link:hover::before {
  left: 0;
}
.nav_link::before {
  transition: all 1s;
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  left: -100%;
  @apply bg-amber-300;
}

@layer components {
  .feature_img {
    /* prettier-ignore */
    @apply w-32 sm:w-64 col-span-2;
  }

  .header_scrolled {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    @apply border-b;
  }

  .blue-button {
    /* prettier-ignore */
    @apply  drop-shadow  rounded-md bg-blue-900 hover:bg-blue-800 border-blue-900 text-xs text-white inline-block px-4 py-2 mt-2 sm:mt-0 no-underline;
  }

  .home-feature-image-div {
    @apply flex flex-1 aspect-[4/3] prose prose-2xl;
    @apply justify-center items-center p-5 rounded-xl;
    background: #eb3349; /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(169,208,113,0.05), rgba(136,173,215,0.15));  */
    background: url('/assets/img/blob-landing-center4.svg');
    flex: 1.6;
  }

  .home-feature-image-div img {
    @apply rounded-lg drop-shadow-xl border-4 border-gray-200;
  }
  .home-feature-section p {
    @apply py-3;
  }
  .home-feature-text-box {
    @apply px-4 max-w-prose;
  }

  .gradient1 {
    background: #eb3349; /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      to right,
      rgba(169, 208, 113, 0.05),
      rgba(136, 173, 215, 0.15)
    );
  }

  .bg-gradient-yellow {
    background: hsla(38, 81%, 52%, 1);

    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #24243e,
      #302b63,
      #0f0c29
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .home-feature-section ul {
    @apply list-disc space-y-1;
  }

  .pricing-card {
    @apply border border-gray-100;
  }
  .pricing-card .flex-1 {
    @apply p-3 flex flex-col  place-content-around;
  }
  .pricing-card .flex-1 > h3 {
    @apply text-3xl font-medium pb-3;
  }
  .pricing-card .flex-1 > h4 > strong {
    @apply text-4xl font-medium;
  }
  .pricing-card h3,
  .pricing-card h4,
  .pricing-card strong {
    color: currentColor;
  }
  .pricing-card h4 {
    @apply font-medium;
  }
  .pricing-card .price-range {
    @apply w-full h-1 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700;
  }
}

.ul-1 {
  @apply pl-3 pb-1 space-y-1;
}
.ul-2 {
  @apply pl-5 pb-1 space-y-1;
}
.ul-3 {
  @apply pl-7 pb-1 space-y-1;
}
