<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">
{{- partial "head.html" . -}}

<body class="relative" onscroll="scrollfunc(this)">
  {{- partial "header.html" . -}}
  <div class="sticky top-0 flex flex-col items-center w-full text-center z-10" id="header">
    <nav class="our_container w-full">
      <div class="flex flex-row justify-between items-center py-4">
        <a href="/"><img src="/assets/img/logo-full.svg" alt="APItoolkit logo" class="h-6" /></a>
        <ul class="flex items-center gap-1 text-xm md:gap-8">
          <li class="bg-red-100">
            <button type=" button" class="hidden bg-gray-200 px-3 py-2 rounded-full">
              Sign in
            </button>
          </li>
          <li class="nav_link">
            <a href="/blog/">Blog</a>
          </li>
          <li class="nav_link">
            <a href="/pricing/">Pricing</a>
          </li>
          <li class="nav_link">
            <a href="/docs/">Docs</a>
          </li>
          <li>
            <a href="https://app.apitoolkit.io"
              class="border border-amber-400 hover:bg-yellow-300 bg-amber-300 text-black px-3 py-2 rounded-full inline-block">
              Get Started
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div id="content" class="">{{- block "main" . }}{{- end }}</div>

  {{- partial "footer.html" . -}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FZERLHDJ7J"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-FZERLHDJ7J");

    function scrollfunc(e) {
      const h = document.querySelector("#header")
      if (e.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        h.classList.add("header_scrolled")
      } else {
        h.classList.remove("header_scrolled")
      }
    }

  </script>
</body>

</html>