<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">
{{- partial "head.html" . -}}

<body class="relative w-full" onscroll="scrollfunc(this)">
  {{- partial "header.html" . -}}
  {{ with .Params.HideNav }}
  {{else}}
  {{end}}
  {{- partial "nav.html" . -}}

  <div class="w-full bg-red-500" id="content">{{- block "main" . }}{{- end }}</div>

  {{- partial "footer.html" . -}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FZERLHDJ7J"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-FZERLHDJ7J");
  </script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11285541899"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-11285541899');
  </script>

  <script>
    function scrollfunc(e) {
      const h = document.querySelector("#header")
      if (e.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        h.classList.add("border-b")
      } else {
        h.classList.remove("border-b")
      }
    }
    function toggleFaq(e) {
      e.currentTarget.nextElementSibling.classList.toggle('hidden')
      e.currentTarget.firstElementChild.classList.toggle('rotate-90')
    }
    function switchTab(e, imageId) {
      const tabs = document.querySelectorAll(".tab-button")
      const images = document.querySelectorAll('.tab-image')
      tabs.forEach(tab => {
        tab.classList.remove("active-tab")
      })
      images.forEach(image => {
        image.classList.add('hidden')
      })
      e.currentTarget.classList.add("active-tab")
      document.getElementById(imageId).classList.remove('hidden')
    }

    function toggleMenu(e) {
      const hum = document.querySelector("#hamburger")
      const cross = document.querySelector("#cross")
      const menu = document.querySelector("#menu")
      if (cross.classList.contains("hidden")) {
        cross.classList.remove('hidden')
        hum.classList.add("hidden")
        menu.classList.remove('hidden')
      } else {
        hum.classList.remove("hidden")
        cross.classList.add("hidden")
        menu.classList.add('hidden')
      }
    }

    function showOptions(e) {
      e.currentTarget.nextElementSibling.classList.toggle("h-0")
      e.currentTarget.nextElementSibling.classList.toggle("h-[300px]")
      e.currentTarget.lastElementChild.classList.toggle("-rotate-180")
    }

    // Set the options globally
    // to make LazyLoad self-initialize
    window.lazyLoadOptions = {
      // Your custom settings go here
    };
  </script>
  <script async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.4/dist/lazyload.min.js"></script>

  <script
    type="text/javascript">window.$crisp = []; window.CRISP_WEBSITE_ID = "9e7374e9-5572-4131-b1fa-86164ffeca01"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();</script>
</body>

</html>