{{ define "main" }}
<main class="text-center mb-8">
  <div class="w-full bg-blue-900 pt-10 pb-36">
    <div class="our_container w-full relative py-16 overflow-hidden">
      <div class="text-lg max-w-prose mx-auto text-center">
        <span class="block text-base  text-amber-400 font-semibold tracking-wide uppercase">
          {{ .Date.Format "Mon Jan 2, 2006" }}
        </span>
        <h1 class="mt-2 py-4 block text-2xl text-center leading-8 font-black tracking-tight text-gray-50 sm:text-3xl">
          {{.Title}}
        </h1>
      </div>
    </div>
  </div>
  <article class="-mt-44 prose text-left prose-indigo prose-base text-gray-900 mx-auto">
    <div class="bg-contain w-full rounded-lg px-4 flex justify-center roudned-lg"
      style="background: url('/assets/img/blob-landing-center4.svg')">
      <img src="{{$.Params.demo}}" alt="" class="w-full rounded-lg" />
    </div>
    {{ .Content }}
  </article>
  </div>
</main>
{{ end }}