<head itemscope>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- favicon items -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />
  <!-- SEO Title-->
  <title itemprop="name">{{if ne .Title ""}}{{ .Title }} - APIToolkit {{else}} {{ .Site.Title }}{{end}}</title>
  <meta property="og:title" content='{{if ne .Title ""}}{{ .Title }} - APIToolkit{{else}} {{ .Site.Title }}{{end}}' />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content='{{if ne .Title ""}}{{ .Title }} - APIToolkit{{else}} {{ .Site.Title }}{{end}}' />
  <meta itemprop="name" content="{{ .Site.Title }}" />
  <meta name="application-name" content="{{ .Site.Title }}" />
  <meta property="og:site_name" content="{{ .Site.Params.sitename }}" />
  <!-- SEO Description -->
  <meta name="description"
    content='{{if ne .Params.description ""}}{{ .Params.description }}{{else}} {{.Summary}} {{end}}' />
  <meta itemprop="description"
    content="{{if ne .Params.description ""}}{{ .Params.description }}{{else}} {{.Summary}} {{end}}" />
  <meta property="og:description"
    content="{{if ne .Params.description ""}}{{ .Params.description }}{{else}} {{.Summary}} {{end}}" />
  <meta name="twitter:description"
    content="{{if ne .Params.description ""}}{{ .Params.description }}{{else}} {{.Summary}} {{end}}" />
  <!-- SEO link tags-->
  <base href="{{ .Permalink }}" />
  <link rel="canonical" href="{{ .Permalink }}" />
  <meta name="url" content="{{ .Permalink }}" />
  <meta name="twitter:url" content="{{ .Permalink }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <!-- Language tags -->
  <meta property="og:locale" content="{{ .Language.Lang }}" />
  <meta name="language" content="{{ .Language.LanguageName }}" />
  {{ range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}" />
  {{ end }}
  <!-- SEO Image -->
  {{ if and (.Params.image) (ne .Params.image .Site.BaseURL) }}
  <meta itemprop="image" content="{{ .Params.image | absURL}}" />
  <meta property="og:image" content="{{ .Params.image | absURL }}" />
  <meta name="twitter:image" content="{{ .Params.image | absURL }}" />
  <meta name="twitter:image:src" content="{{ .Params.image | absURL}}" />
  {{ else }}
  <meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
  <meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}" />
  <meta name="twitter:image" content="{{ .Site.Params.ogimage | absURL }}" />
  <meta name="twitter:image:src" content="{{ .Site.Params.ogimage | absURL }}" />
  {{ end }}
  <!-- SEO Date-->
  <meta property="og:updated_time" content="{{ .Lastmod.Format " 2006-01-02T15:04:05Z0700" | safeHTML }}" />
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" />
  {{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
  <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
  {{ end }}
  <!-- SEO Article only tags-->
  <!-- To make sure this renders only in the article page, we check the section -->
  {{ if eq .Section "blog" }}

  <!-- Pagination meta tags for list pages only -->
  {{ $paginator := .Paginate (where .Pages "Section" "blog") }}
  <!-- .. -->
  {{ if $paginator }}
  <link rel="first" href="{{ $paginator.First.URL }}" />
  <link rel="last" href="{{ $paginator.Last.URL }}" />
  {{ if $paginator.HasPrev }}
  <link rel="prev" href="{{ $paginator.Prev.URL }}" />
  {{end }} {{ if $paginator.HasNext }}
  <link rel="next" href="{{ $paginator.Next.URL }}" />
  {{end }} {{end }}

  <meta property="og:type" content="article" />
  <meta property="article:publisher" content="{{ .Site.Params.facebook }}" />
  <meta property="og:article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
  <meta property="article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
  {{ with.Params.author }}
  <meta property="og:article:author" content="{{humanize . }}" />
  <meta property="article:author" content="{{humanize . }}" />
  <meta name="author" content="{{humanize . }}" />
  {{ end }} {{ with.Params.category }}
  <meta name="news_keywords" content="{{ index . 0 }}" />
  <meta property="article:section" content="{{ index . 0 }}" />
  {{ end }}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "headline": {{ .Title }},
      "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.github }}"
      },
      "datePublished": "{{ .Date.Format "2006-01-02" }}",
      "description": {{ .Description }},
      "wordCount": {{ .WordCount }},
      "mainEntityOfPage": "True",
      "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
      "image": {
        "@type": "imageObject",
        "url": "{{ with .Params.image }}{{ .Permalink }}{{ end }}"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
          "@type": "imageObject",
          "url": "https://www.example.com/images/brand/favicon.png"
        }
      }
    }
  </script>
  {{else}}
  <!-- SEO for non blog pages (website content) -->
  <meta property="og:type" content="website" />
  <meta name="author" content="{{ .Site.Params.author }}" />
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "{{ .Permalink }}",
      "sameAs": ["{{ .Site.Params.facebook }}", "{{ .Site.Params.github }}"],
      "name": "{{ .Title }}",
      "logo": "https://apitoolkit.io/favicon-32x32.png"
    }
  </script>
  {{ end }}

  <!--- SEO Search engine crawler tags-->
  <meta name="robots" content="index,follow" />
  <meta name="googlebot" content="index,follow" />

  <!-- SEO Specific social media tags-->
  <meta name="twitter:site" content="{{ .Site.Params.twitter }}" />
  <meta name="twitter:creator" content="{{ .Site.Params.twitter }}" />
  <!-- <meta property="fb:app_id" content="538089519640705" /> -->
  <!-- <meta property="fb:admins" content="100000686899395" / -->

  <!-- SEO other tags-->
  <meta name="keywords" content="" />
  <meta name="imagemode" content="force" />
  <meta name="coverage" content="Worldwide" />
  <meta name="distribution" content="Global" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="apple-mobile-web-app-title" content="{{ .Site.Params.sitename }}" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-touch-fullscreen" content="yes" />

  <!-- end of meta tags and favicons -->
  {{ if hugo.IsProduction }}
  <link rel="stylesheet" href="/assets/css/tailwind.prod.min.css" />
  {{else}}
  <link rel="stylesheet" href="/assets/css/tailwind.min.css" />
  {{end}}
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- <link -->
  <!--   href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" -->
  <!--   rel="stylesheet" -->
  <!-- /> -->

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@564&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap" rel="stylesheet">
  <style>
    body {
      width: 100%;
      font-size: 16px;
      font-family: 'Inter', sans-serif;
      /*font-family: "Poppins", sans-serif*/
      ;
    }

    .monospace {
      font-family: 'Roboto Mono', monospace;
    }

    @media (min-width: 500px) {
      body {
        font-size: 16px;
      }
    }
  </style>
  <script src="https://unpkg.com/hyperscript.org@0.9.5"></script>
  <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
</head>
