<div class="section-index w-full">
    {{ $parent := .Page }}
    {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
    {{ $pages = (where $pages "Type" "!=" "search") }}
    {{ $pages = (where $pages ".Params.hide_summary" "!=" true) }}
    {{ $pages = (where $pages ".Parent" "!=" nil) }}
    {{ $pages = (where $pages "Parent.File.UniqueID" "==" $parent.File.UniqueID) }}
    {{ if or $parent.Params.no_list (eq (len $pages) 0) }}
    {{/* If no_list is true or we don't have subpages we don't show a list of subpages */}}
    {{ else if $parent.Params.simple_list }}
    {{/* If simple_list is true we show a bulleted list of subpages */}}
    <ul>
        {{ range $pages }}
        {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref")
        (relref . .Params.manualLinkRelref) .RelPermalink) }}
        <li><a href="{{ $manualLink }}" {{ with .Params.manualLinkTitle }} title="{{ . }}" {{ end }}{{ with
                .Params.manualLinkTarget }} target="{{ . }}" {{ if eq . "_blank" }} rel="noopener" {{ end }}{{ end
                }}>{{- .Title -}}</a></li>
        {{ end }}
    </ul>
    {{ else }}
    {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
    <hr class="panel-line">
    <ul class="grid grid-cols-2 gap-2" style="list-style: none;">
        {{ range $pages }}
        {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref")
        (relref . .Params.manualLinkRelref) .RelPermalink) }}
        <li class=""><a href="{{ $manualLink }}" {{ with .Params.manualLinkTitle }} title="{{ . }}" {{ end}}{{ with
                .Params.manualLinkTarget }} target="{{ . }}" {{ if eq . "_blank" }} rel="noopener" {{ end }}{{ end }}
                class="flex p-2 items-center gap-2 h-full rounded-2xl border hover:border-gray-700"
                style="text-decoration: none;"><img alt="" loading="lazy" class="flex-shrink-0"
                    src="https://a.storyblok.com/f/234930/40x40/54b3d32dca/help-group-reference.svg">
                <span class="font-semibold text-gray-700">{{- .Title -}}</span>
                <span class="text-gray-500 mt-2">{{ .Description | markdownify }}</span>
            </a></li>
        {{ end }}
    </ul>
    {{ end }}
</div>