<div class="width-control w-full mx-auto mt-[54px] py-12 relative text-center">
    <p class="text-xl pb-8">Trusted by 3000+ Developers at Companies Like:</p>
    <div class="flex gap-6  w-full justify-center flex-wrap items-center [&>*]:brightness-0 [&>*]:dark:invert">
        <img src="/assets/img/customers/andela.svg" alt="Andela's Logo" class="h-5 sm:h-8">
        <img src="/assets/img/customers/thepeer.svg" alt="ThePeer's Logo" class="h-5 sm:h-8">
        <img src="/assets/img/customers/grovepay.svg" alt="Grovepay's Logo" class="h-5 sm:h-8">
        <img src="/assets/img/customers/sameday.svg" alt="Same Day Customs' Logo" class="h-5 sm:h-8">
        <img src="/assets/img/customers/platnova.png" alt="Platnova's Logo" class="h-5 sm:h-8">
        <img src="/assets/img/customers/payfonte.svg" alt="Payfonte's Logo" class="h-5 sm:h-8">
    </div>
</div>