<div class="width-control mx-auto flex flex-col md:flex-row gap-16 my-12">
    <div class="flex-grow mt-16">
        <p class="text-4xl md:text-6xl font-bold mb-3">Frequently Asked <br/> Questions</p>
        <p>Here are some questions many have asked us.</p>
        <a href="/docs/faqs/" class="btn btn-secondary t-white sm:w-56 mt-6">View all FAQs</a>
    </div>

    <div class="flex w-full md:w-[40%] flex-col gap-4 text-gray-700 dark:text-base-content">
        {% for faq in this.frontmatter.faqs %}
        <div class="bg-base-100 px-6 py-3 shadow-sm">
            <button class="flex gap-4 items-center text-left hover:text-gray-800 dark:hover:text-white" onclick="toggleFaq(event)">
            <svg class="flex-shrink-0 icon h-5 w-5 text-current fill-current stroke-current opacity-70"><use xlink:href="/assets/deps/fontawesome/solid.svg#caret-right"></use></svg>
            {{faq.q}}
            </button>
            <div class="pl-4 py-4 hidden text-gray-600 dark:text-base-content">{{faq.a}}</div>
        </div>
        {% endfor %}
    </div>
</div>