<footer class="border-t border-stone-100 bg-stone-50 dark:border-stone-800 dark:bg-base-200 dark:text-base-content text-center" aria-labelledby="footer-heading">
  <section class="our_container inline-block mx-auto text-left">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="py-12 lg:py-16 px-4">
      <div class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-4 gap-4">
        <div class="">
          <h3 class="text-base font-bold text-gray-900  dark:text-base-content">Product</h3>
          <ul role="list" class="mt-4 space-y-2 text-sm text-gray-600 dark:text-base-content">
            <li>
              <a href="/features/error-tracking" class=" hover:grow">
                Error Tracking
              </a>
            </li>
            <li>
              <a href="/features/error-tracking" class=" hover:grow">
                Breaking Change Detection
              </a>
            </li>
            <li>
              <a href="/features/api-logs-and-metrics/" class="hover:grow">
                API Logs and Metrics
              </a>
            </li>
            <li>
              <a href="/features/api-observability/" class="hover:grow">API Observability</a>
            </li>
            <li>
              <a href="/features/api-management/" class="hover:grow">
                API Management</a>
            </li>
            <li>
              <a href="/features/api-analytics/" class="hover:grow">
                API Analytics</a>
            </li>
          </ul>
        </div>
        <div class="">
          <h3 class="text-base font-bold text-gray-900  dark:text-base-content">Developers and Support</h3>
          <ul role="list" class="mt-4 space-y-2 text-sm text-gray-600  dark:text-base-content">
            <li>
              <a href="/pricing/" class=" hover:grow">
                Pricing
              </a>
            </li>
            <li>
              <a href="/docs/" class=" hover:grow">
                Documentation
              </a>
            </li>
            <li>
              <a href="/docs/onboarding/" class="hover:grow">
                Onboarding Guide
              </a>
            </li>
            <li>
              <a href="/docs/dashboard/" class=" hover:grow">
                Dashboard Manual</a>
            </li>
            <li>
              <a href="/docs/sdks/" class=" hover:grow">
                SDK Guides</a>
            </li>
            <li>
              <a href="https://updown.io/6kqs" class=" hover:grow">
                Status Page</a>
            </li>
          </ul>
        </div>
        <div class="">
          <h3 class="text-base font-bold text-gray-900  dark:text-base-content">Company</h3>
          <ul role="list" class="mt-4 space-y-2 text-sm text-gray-600  dark:text-base-content">
            <li>
              <a href="/about/" class="  hover:grow">
                About
              </a>
            </li>
            <li>
              <a href="/blog/" class=" hover:grow">Blog
              </a>
            </li>
            <li>
              <a href="/contact/" class="  hover:grow">
                Contact
              </a>
            </li>
            <li>
              <a href="/privacy-policy/" class=" hover:grow">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="/terms-and-conditions/" class=" hover:grow">Terms and Conditions
              </a>
            </li>
          </ul>
        </div>

        <div class="mt-8 xl:mt-0">
          <h3 class="text-base font-medium text-base-content">Subscribe to Our Newsletter</h3>
          <p class="mt-4 text-sm text-base-content">Follow the APItoolkit journey with news and updates right to your inbox.
          </p>
          <br/>
          <div class="15d365ef1d">
            <script
              async
              data-uid="15d365ef1d"
              src="https://apitoolkit.ck.page/15d365ef1d/index.js"></script>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="w-full bg-stone-200 dark:bg-base-100 dark:text-base-content text-center">
    <div class="inline-block our_container mx-auto text-left py-8 px-3">
      <img
        class="h-6 dark:hidden"
        src="/assets/brand/logo_full_color.svg"
        alt="APItoolkit full color logo" />
      <img
        class="h-6 hidden dark:inline-block"
        src="/assets/brand/logo_white.svg"
        alt="APItoolkit white logo" />

      <p class="py-4 text-xs text-black dark:text-base-content">
        &copy; 2022 APItoolkit (<a href="mailto:hello@apitoolkit.io">hello@apitoolkit.io</a>). All rights reserved.
      </p>
      <div class="flex space-x-6 md:order-2">
        <a
          href="https://discord.gg/dEB6EjQnKB"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">Discord</span>
          <svg
            class="h-6 w-6"
            fill="currentColor"
            viewBox="0 -28.5 256 256"
            aria-hidden="true">
            <path d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z" />
          </svg>
        </a>

        <a
          href="https://twitter.com/apitoolkithq"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">X (Twitter)</span>
          <svg
            class="h-6 w-6"
            fill="currentColor"
            viewBox="0 0 24 24"
            aria-hidden="true">
            <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
          </svg>
        </a>

        <a
          href="https://github.com/apitoolkit"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">GitHub</span>
          <svg
            class="h-6 w-6"
            fill="currentColor"
            viewBox="0 0 24 24"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
              clip-rule="evenodd" />
          </svg>
        </a>

        <a
          href="https://linkedin.com/company/apitoolkit"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">LinkedIn</span>
          <svg
            class="h-6 w-6"
            viewBox="0 0 24 24"
            fill="currentColor">
            <path d="M18.72 3.99997H5.37C5.19793 3.99191 5.02595 4.01786 4.86392 4.07635C4.70189 4.13484 4.55299 4.22471 4.42573 4.34081C4.29848 4.45692 4.19537 4.59699 4.12232 4.75299C4.04927 4.909 4.0077 5.07788 4 5.24997V18.63C4.01008 18.9901 4.15766 19.3328 4.41243 19.5875C4.6672 19.8423 5.00984 19.9899 5.37 20H18.72C19.0701 19.9844 19.4002 19.8322 19.6395 19.5761C19.8788 19.32 20.0082 18.9804 20 18.63V5.24997C20.0029 5.08247 19.9715 4.91616 19.9078 4.76122C19.8441 4.60629 19.7494 4.466 19.6295 4.34895C19.5097 4.23191 19.3672 4.14059 19.2108 4.08058C19.0544 4.02057 18.8874 3.99314 18.72 3.99997ZM9 17.34H6.67V10.21H9V17.34ZM7.89 9.12997C7.72741 9.13564 7.5654 9.10762 7.41416 9.04768C7.26291 8.98774 7.12569 8.89717 7.01113 8.78166C6.89656 8.66615 6.80711 8.5282 6.74841 8.37647C6.6897 8.22474 6.66301 8.06251 6.67 7.89997C6.66281 7.73567 6.69004 7.57169 6.74995 7.41854C6.80986 7.26538 6.90112 7.12644 7.01787 7.01063C7.13463 6.89481 7.2743 6.80468 7.42793 6.74602C7.58157 6.68735 7.74577 6.66145 7.91 6.66997C8.07259 6.66431 8.2346 6.69232 8.38584 6.75226C8.53709 6.8122 8.67431 6.90277 8.78887 7.01828C8.90344 7.13379 8.99289 7.27174 9.05159 7.42347C9.1103 7.5752 9.13699 7.73743 9.13 7.89997C9.13719 8.06427 9.10996 8.22825 9.05005 8.3814C8.99014 8.53456 8.89888 8.6735 8.78213 8.78931C8.66537 8.90513 8.5257 8.99526 8.37207 9.05392C8.21843 9.11259 8.05423 9.13849 7.89 9.12997ZM17.34 17.34H15V13.44C15 12.51 14.67 11.87 13.84 11.87C13.5822 11.8722 13.3313 11.9541 13.1219 12.1045C12.9124 12.2549 12.7546 12.4664 12.67 12.71C12.605 12.8926 12.5778 13.0865 12.59 13.28V17.34H10.29V10.21H12.59V11.21C12.7945 10.8343 13.0988 10.5225 13.4694 10.3089C13.84 10.0954 14.2624 9.98848 14.69 9.99997C16.2 9.99997 17.34 11 17.34 13.13V17.34Z" />
          </svg>
        </a>

        <a
          href="https://www.youtube.com/@APItoolkit"
          target="_blank"
          rel="noopener noreferrer"
          class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">YouTube</span>
          <svg
            class="h-6 w-6"
            fill="currentColor"
            viewBox="0 0 50 50"
            aria-hidden="true">
            <path d="M 44.898438 14.5 C 44.5 12.300781 42.601563 10.699219 40.398438 10.199219 C 37.101563 9.5 31 9 24.398438 9 C 17.800781 9 11.601563 9.5 8.300781 10.199219 C 6.101563 10.699219 4.199219 12.199219 3.800781 14.5 C 3.398438 17 3 20.5 3 25 C 3 29.5 3.398438 33 3.898438 35.5 C 4.300781 37.699219 6.199219 39.300781 8.398438 39.800781 C 11.898438 40.5 17.898438 41 24.5 41 C 31.101563 41 37.101563 40.5 40.601563 39.800781 C 42.800781 39.300781 44.699219 37.800781 45.101563 35.5 C 45.5 33 46 29.398438 46.101563 25 C 45.898438 20.5 45.398438 17 44.898438 14.5 Z M 19 32 L 19 18 L 31.199219 25 Z" />
          </svg>
        </a>

      </div>
    </div>
  </section>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FZERLHDJ7J"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-FZERLHDJ7J");
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11285541899"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-11285541899');
</script>

<script>
    function scrollfunc(e) {
      const h = document.querySelector("#header")
      if (e.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        h.classList.add("border-b")
      } else {
        h.classList.remove("border-b")
      }
    }
    function toggleFaq(e) {
      e.currentTarget.nextElementSibling.classList.toggle('hidden')
      e.currentTarget.firstElementChild.classList.toggle('rotate-90')
    }
    function switchTab(e, imageId) {
      const tabs = document.querySelectorAll(".tab-button")
      const images = document.querySelectorAll('.tab-image')
      tabs.forEach(tab => {
        tab.classList.remove("active-tab")
      })
      images.forEach(image => {
        image.classList.add('hidden')
      })
      e.currentTarget.classList.add("active-tab")
      document.getElementById(imageId).classList.remove('hidden')
    }

    function toggleMenu(e) {
      const hum = document.querySelector("#hamburger")
      const cross = document.querySelector("#cross")
      const menu = document.querySelector("#menu")
      if (cross.classList.contains("hidden")) {
        cross.classList.remove('hidden')
        hum.classList.add("hidden")
        menu.classList.remove('hidden')
      } else {
        hum.classList.remove("hidden")
        cross.classList.add("hidden")
        menu.classList.add('hidden')
      }
    }

    function showOptions(e, height) {
      e.currentTarget.nextElementSibling.classList.toggle("h-0")
      e.currentTarget.nextElementSibling.classList.toggle(height)
      e.currentTarget.lastElementChild.classList.toggle("-rotate-180")
    }

    // Set the options globally
    // to make LazyLoad self-initialize
    window.lazyLoadOptions = {
      // Your custom settings go here
    };
    window.addEventListener(
      "LazyLoad::Initialized",
      function (event) {
        window.lazyLoadInstance = event.detail.instance;
      },
      false
    );
</script>
<script async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.4/dist/lazyload.min.js"></script>

<script type="text/javascript">
  window.$crisp = []; window.CRISP_WEBSITE_ID = "9e7374e9-5572-4131-b1fa-86164ffeca01"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();
</script>

<script
  defer
  type="text/javascript"
  src="https://testimonial.to/js/iframeResizer.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" />
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.0/languages/go.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.0/languages/javascript.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/php.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/csharp.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/python.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/elixir.min.js"></script>
<script defer type="text/javascript">
  function loadConvertKitForm(uid) {
      // Check if the script is already loaded
      const existingScript = document.querySelector('script[data-uid="'+uid+'"]');
      if (existingScript) {
          // Optionally, remove the existing script and re-add it to re-initialize the form
          existingScript.remove();
      }

      var elements = document.getElementsByClassName(uid);
      for (var i = 0; i < elements.length; i++) {
        // Create a new script element for the ConvertKit form
        var script = document.createElement('script');
        script.dataset.uid = uid; // Your form's unique ID
        script.src = "https://apitoolkit.ck.page/"+uid+"/index.js"; // The script source
        elements[i].replaceChildren(script);
      }
  }

    document.addEventListener('DOMContentLoaded', function() {
      iFrameResize({log: false, checkOrigin: false}, '#testimonialto-apitoolkit-tag-all-light');
      iFrameResize({log: false, checkOrigin: false}, '#testimonialto-apitoolkit-tag-all-dark');
      hljs.highlightAll();
      loadConvertKitForm("15d365ef1d");
    });

     document.body.addEventListener('htmx:afterSwap', function(event) {
      window.requestAnimationFrame(() => {
        iFrameResize({log: false, checkOrigin: false}, '#testimonialto-apitoolkit-tag-all-light');
        iFrameResize({log: false, checkOrigin: false}, '#testimonialto-apitoolkit-tag-all-dark');
        hljs.highlightAll();
        lazyLoadInstance.update();
        loadConvertKitForm("15d365ef1d");
      })
    });
</script>


<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-PTLSTQ8');
</script>
<!-- End Google Tag Manager -->

<!-- Hotjar Tracking Code for my site -->
<script>
      (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
        h._hjSettings = { hjid: 3393437, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script'); r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>
<!-- End of Hotjar Tracking Code -->

<!-- Twitter conversion tracking base code -->
<script>
      !function (e, t, n, s, u, a) {
        e.twq || (s = e.twq = function () {
          s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
        }, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = 'https://static.ads-twitter.com/uwt.js',
          a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
      }(window, document, 'script');
      twq('config', 'ofc5n');
</script><!-- End Twitter conversion tracking base code -->


</body></html>