  
    <section class=" flex flex-col items-center w-full pt-28">
      <!-- Footer CTA-->
      <div class="max-w-7xl w-full text-textWeak space-y-10 py-20 px-3">
        <h2 class="text-[2rem] font-normal text-textStrong leading-10"><span class="text-textBrand">Find and fix issues</span> before your customers, <br/>stakeholders or partners notice.</h2>
        <div>
          <a href="https://calendar.app.google/1a4HG5GZYv1sjjZG6" target="_blank" class="btn py-3 px-6 rounded-xl bg-fillBrand-strong text-textInverse-strong">Book a demo</a>
          <a href="https://app.apitoolkit.io" class="btn py-3 px-6 rounded-xl bg-transparent border border-fillBrand-strong text-fillBrand-strong" >Start 30 day free trial</a>
        </div>
        {% assign social_links = "github|https://github.com/apitoolkit,twitter|https://x.com/APItoolkitHQ,linkedin|https://www.linkedin.com/company/apitoolkit,youtube|https://www.youtube.com/@APItoolkit,discord|https://discord.gg/BHQh5JzjPX" | split: "," %}
        <div class="md:space-x-8 gap-2 md:gap-0 flex md:inline-flex flex-col md:flex-row md:items-center  text-xl">
          <div class="[&_svg]:h-5 [&_svg]:w-5 inline-flex gap-4">
            {% for social in social_links %}
              {% assign social_data = social | split: "|" %}
              <a href="{{ social_data[1] }}" target="_blank"><svg><use xlink:href="/assets/deps/sprite.svg#{{ social_data[0] }}"></use></svg></a>
            {% endfor %}
          </div>
          <span class="text-textDisabled hidden md:block">|</span>
          <a>Signup for our <span class="underline underline-offset-2 font-semibold">newsletter</span> to stay updated</a>
        </div>
      </div>


      <footer class="max-w-7xl border-t border-strokeWeak pt-20 pb-5 space-y-12 px-3">
        <!-- Logo Section -->
        <a href="/" class="py-1 block" aria-label="Back to homepage">
          <img class="h-6 dark:hidden" src="/assets/brand/logo_full_color.svg" alt="APItoolkit full color logo">
          <img class="h-6 hidden dark:inline-block" src="/assets/brand/logo_full_white.svg" alt="APItoolkit white logo">
        </a>

        <div class="grid grid-cols-2 md:grid-cols-6 gap-8">
            <!-- Navigation Columns -->
            <div class="col-span-1">
                <h3 class="text-sm font-semibold text-textWeak mb-4">Product</h3>
                <ul class="space-y-3">
                    <li><a href="https://apitoolkit.io/features/error-tracking">Error Tracking</a></li>
                    <li><a href="https://apitoolkit.io/features/error-tracking">Breaking Changes Detection</a></li>
                    <li><a href="https://apitoolkit.io/features/api-logs-and-metrics/">API Logs and Metrics</a></li>
                    <li><a href="https://apitoolkit.io/features/api-observability/">API Observability</a></li>
                    <li><a href="https://apitoolkit.io/features/api-management/">API Management</a></li>
                    <li><a href="https://apitoolkit.io/features/api-analytics/">API Analytics</a></li>
                    <li><a href="https://opentelemetry.io/">Opentelemetry</a></li>
                </ul>
            </div>

            <div class="col-span-1">
                <h3 class="text-sm font-semibold text-textWeak mb-4">Developers and Support</h3>
                <ul class="space-y-3">
                    <li><a href="https://apitoolkit.io/docs/">Documentation</a></li>
                    <li><a href="https://apitoolkit.io/docs/onboarding/">Onboarding Guide</a></li>
                    <li><a href="https://apitoolkit.io/docs/sdks/">SDK Guides</a></li>
                    <li><a href="https://apitoolkit.io/docs/dashboard/">Dashboard Manual</a></li>
                    <li><a href="https://apitoolkit.io/compare/">Why Choose APIToolkit?</a></li>
                    <li><a href="https://apitoolkit.io/pricing/">Pricing</a></li>
                    <li><a href="https://apitoolkit.io/tools/json-redacter/">Test JSON Redaction</a></li>
                    <li><a href="https://updown.io/6kqs">Status Page</a></li>
                </ul>
            </div>

            <div class="col-span-1">
              <h3 class="text-sm font-semibold text-textWeak mb-4">Product Comparisons</h3>
              <ul class="space-y-3">
                  <li><a href="https://apitoolkit.io/compare/datadog">APIToolkit vs Datadog</a></li>
                  <li><a href="https://apitoolkit.io/compare/sentry">APIToolkit vs Sentry</a></li>
                  <li><a href="https://apitoolkit.io/compare/honeybadger">APIToolkit vs Honeybadger</a></li>
                  <li><a href="https://apitoolkit.io/compare/newrelic">APIToolkit vs New Relic</a></li>
                  <li><a href="https://apitoolkit.io/compare/baselime">APIToolkit vs Baseline</a></li>
                  <li><a href="https://apitoolkit.io/compare/treblle">APIToolkit vs Treblle</a></li>
                  <li><a href="https://apitoolkit.io/compare/axiom">APIToolkit vs Axiom</a></li>
              </ul>
            </div>

            <div class="col-span-1">
              <h3 class="text-sm font-semibold text-textWeak mb-4">Company</h3>
              <ul class="space-y-3">
                  <li><a href="https://apitoolkit.io/about/">About</a></li>
                  <li><a href="https://apitoolkit.io/docs/faqs">FAQs</a></li>
                  <li><a href="https://apitoolkit.io/blog/">Blog</a></li>
                  <li><a href="https://apitoolkit.io/events/">Events</a></li>
                  <li><a href="https://apitoolkit.io/brand">Press kit</a></li>
                  <li><a href="https://apitoolkit.io/contact/">Contact</a></li>
                  <li><a href="https://apitoolkit.io/privacy-policy/">Privacy Policy</a></li>
                  <li><a href="https://apitoolkit.io/terms-and-conditions/">Terms and Conditions</a></li>
              </ul>
            </div>

            <div class="col-span-2">
              <h3 class="text-sm font-semibold text-textWeak mb-4">Latest recommended writeups</h3>
              <ul class="space-y-3 [&_a]:underline [&_a]:underline-offset-2">
                  <li><a href="#">What Is Incident Management? Beginner's Guide</a></li>
                  <li><a href="#">How to Create a Developer-Friendly On-Call</a></li>
                  <li><a href="#">8 Best Free & Open Source Status Page Tools in 2024</a></li>
                  <li><a href="#">10 Best API Monitoring Tools in 2024</a></li>
                  <li><a href="#">5 Most Used Incident Management Tools (Reviewed & Ranked)</a></li>
              </ul>
            </div>
        </div>

        <div class="">
          <h3 class="text-sm font-semibold text-textWeak mb-4">Platforms</h3>
          <div class="grid grid-cols-2 md:grid-cols-6 gap-3 *:col-span-1">
            <a href="#">Database Monitoring</a>
            <a href="#">Kubernetes Monitoring</a>
            <a href="#">PHP Monitoring</a>
            <a href="#">.NET Monitoring</a>
            <a href="#">Java Monitoring</a>
            <a href="#">Node.js Monitoring</a>
            <a href="#">Laravel Monitoring</a>
            <a href="#">Symfony Monitoring</a>
            <a href="#">CodeIgniter Monitoring</a>
            <a href="#">Express Monitoring</a>
            <a href="#">MySQL Monitoring</a>
            <a href="#">PostgreSQL Monitoring</a>
            <a href="#">Ruby Monitoring</a>
            <a href="#">Python Monitoring</a>
            <a href="#">Golang Monitoring</a>
            <a href="#">Django Monitoring</a>
            <a href="#">Angular Monitoring</a>
            <a href="#">React Monitoring</a>
          </div>
          <a href="#" class="block py-3 underline underline-offset-2">See all platforms</a>
        </div>

        <hr/>
        <!-- Bottom Bar -->
        <div class="mt-12 pt-8 flex flex-col md:flex-row justify-between items-center">
            <div class="text-gray-600 mb-4 md:mb-0">
              Copyrights (c) <span id="currentYear">2025</span> - Past 3 technologies UG. Gruntaler str. 18, 13357 Berlin, Germany
            </div>
            <div class="flex items-center space-x-6">
                <a href="https://discord.gg/BHQh5JzjPX" target="_blank" class="flex items-center text-gray-600 hover:text-gray-900">
                    <svg class="h-5 w-5 mr-2"><use xlink:href="/assets/deps/sprite.svg#discord"></use></svg>
                    Join our discord community
                </a>
                <div class="flex items-center text-gray-600">
                    <div class="flex items-center">
                        <span class="w-2 h-2 bg-green-500 rounded-full mr-2"></span>
                        Status All systems operational
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </section>

<script>
  const year = new Date().getFullYear();
  document.getElementById("currentYear").textContent = year;
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FZERLHDJ7J"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-FZERLHDJ7J");
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11285541899"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-11285541899');
</script>

<script>
    function scrollfunc(e) {
      const h = document.querySelector("#header")
      if (e.scrollTop > 50 || document.documentElement.scrollTop > 50) {
        h.classList.add("border-b")
      } else {
        h.classList.remove("border-b")
      }
    }
    function toggleFaq(e) {
      e.currentTarget.nextElementSibling.classList.toggle('hidden')
      e.currentTarget.firstElementChild.classList.toggle('rotate-90')
    }
    function switchTab(e, imageId) {
      const tabs = document.querySelectorAll(".tab-button")
      const images = document.querySelectorAll('.tab-image')
      tabs.forEach(tab => {
        tab.classList.remove("active-tab")
      })
      images.forEach(image => {
        image.classList.add('hidden')
      })
      e.currentTarget.classList.add("active-tab")
      document.getElementById(imageId).classList.remove('hidden')
    }

    function toggleMenu(e) {
      const hum = document.querySelector("#hamburger")
      const cross = document.querySelector("#cross")
      const menu = document.querySelector("#menu")
      if (cross.classList.contains("hidden")) {
        cross.classList.remove('hidden')
        hum.classList.add("hidden")
        menu.classList.remove('hidden')
      } else {
        hum.classList.remove("hidden")
        cross.classList.add("hidden")
        menu.classList.add('hidden')
      }
    }

    function showOptions(e, height) {
      e.currentTarget.nextElementSibling.classList.toggle("h-0")
      e.currentTarget.nextElementSibling.classList.toggle(height)
      e.currentTarget.lastElementChild.classList.toggle("-rotate-180")
    }

    // Set the options globally
    // to make LazyLoad self-initialize
    window.lazyLoadOptions = {
      // Your custom settings go here
    };
    window.addEventListener(
      "LazyLoad::Initialized",
      function (event) {
        window.lazyLoadInstance = event.detail.instance;
      },
      false
    );
</script>
<script async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.4/dist/lazyload.min.js"></script>

<script type="text/javascript">
  window.$crisp = []; window.CRISP_WEBSITE_ID = "9e7374e9-5572-4131-b1fa-86164ffeca01"; (function () { d = document; s = d.createElement("script"); s.src = "https://client.crisp.chat/l.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();
</script>

<script
  defer
  type="text/javascript"
  src="https://testimonial.to/js/iframeResizer.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" />
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.0/languages/go.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.0/languages/javascript.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/php.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/csharp.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/python.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/elixir.min.js"></script>
<script defer type="text/javascript">
  function loadConvertKitForm(uid) {
      // Check if the script is already loaded
      const existingScript = document.querySelector('script[data-uid="'+uid+'"]');
      if (existingScript) {
          // Optionally, remove the existing script and re-add it to re-initialize the form
          existingScript.remove();
      }

      var elements = document.getElementsByClassName(uid);
      for (var i = 0; i < elements.length; i++) {
        // Create a new script element for the ConvertKit form
        var script = document.createElement('script');
        script.dataset.uid = uid; // Your form's unique ID
        script.src = "https://apitoolkit.ck.page/"+uid+"/index.js"; // The script source
        elements[i].replaceChildren(script);
      }
  }

    document.addEventListener('DOMContentLoaded', function() {
      iFrameResize({log: false, checkOrigin: false}, '#testimonialto-apitoolkit-tag-all-light');
      iFrameResize({log: false, checkOrigin: false}, '#testimonialto-apitoolkit-tag-all-dark');
      hljs.highlightAll();
      loadConvertKitForm("15d365ef1d");
    });

     document.body.addEventListener('htmx:afterSwap', function(event) {
      window.requestAnimationFrame(() => {
        iFrameResize({log: false, checkOrigin: false}, '#testimonialto-apitoolkit-tag-all-light');
        iFrameResize({log: false, checkOrigin: false}, '#testimonialto-apitoolkit-tag-all-dark');
        hljs.highlightAll();
        lazyLoadInstance.update();
        loadConvertKitForm("15d365ef1d");
      })
    });
</script>


<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-PTLSTQ8');
</script>
<!-- End Google Tag Manager -->

<!-- Hotjar Tracking Code for my site -->
<script>
      (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
        h._hjSettings = { hjid: 3393437, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script'); r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>
<!-- End of Hotjar Tracking Code -->

<!-- Twitter conversion tracking base code -->
<script>
      !function (e, t, n, s, u, a) {
        e.twq || (s = e.twq = function () {
          s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
        }, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = 'https://static.ads-twitter.com/uwt.js',
          a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
      }(window, document, 'script');
      twq('config', 'ofc5n');
</script><!-- End Twitter conversion tracking base code -->

<!-- apollo tag -->
<script>function initApollo(){var n=Math.random().toString(36).substring(7),o=document.createElement("script");
o.src="https://assets.apollo.io/micro/website-tracker/tracker.iife.js?nocache="+n,o.async=!0,o.defer=!0,
o.onload=function(){window.trackingFunctions.onLoad({appId:"66f1f1ed596af3065a8f94f7"})},
document.head.appendChild(o)}initApollo();</script>

<script>window.lemonSqueezyAffiliateConfig = { store: "apitoolkit" };</script> <script src="https://lmsqueezy.com/affiliate.js" defer></script>
</body></html>
