<nav class="inline-block  w-full px-2 md:px-0">
  <div class="flex flex-row justify-between items-center content-between">
    <a href="/" class="inline-block">
      <img src="/assets/img/logo-full.svg" alt="APItoolkit logo" class="h-6 hidden sm:inline-block" />
      <img src="/assets/img/logo-mini.svg" alt="APItoolkit logo" class="h-5 sm:hidden" />
    </a>
    <div class="text-xs sm:text-base space-x-1 sm:space-x-5 ">
      <button type="button" class="hidden bg-gray-200 px-3 py-2 rounded-full">
        Sign in
      </button>
      <a href="/blog/" class="">Blog</a>
      <a href="/pricing/" class="">Pricing</a>
      <a href="/docs/" class="">Docs</a>
      <a href="https://app.apitoolkit.io"
        class="border border-amber-400 hover:bg-yellow-300 bg-amber-300 text-black  px-2 sm:px-3 py-1 sm:py-2 rounded-full inline-block">
        Get Started
      </a>
    </div>
  </div>
</nav>