<div class="backdrop-opacity-5 backdrop-invert-0 border border-blue-900 bg-white/50  p-2 sm:p-5 rounded-xl drop-shadow w-full" id="intro-video">
  <div class="text-sm md:text-xl my-3 space-x-1 sm:space-x-2 space-y-2" data-hsx="fade up" >
    <a  class=" space-x-6 space-y-4 showcase1-buttons showcase1-buttons-active " _="on click remove .showcase1-buttons-active from .showcase1-buttons then add .showcase1-buttons-active to me then add .hidden to .showcase1 then remove .hidden from #showcase1-monitor" >
      <i class="fa-regular fa-monitor-waveform"></i>  Monitor
    </a>
    <a  class=" space-x-6 space-y-4 showcase1-buttons " _="on click remove .showcase1-buttons-active from .showcase1-buttons then add .showcase1-buttons-active to me then add .hidden to .showcase1 then remove .hidden from #showcase1-changelog">
      <i class="fa-regular fa-nfc-magnifying-glass"></i> Changelog 
    </a>
    <a  class=" space-x-6 space-y-4 showcase1-buttons " _="on click remove .showcase1-buttons-active from .showcase1-buttons then add .showcase1-buttons-active to me then add .hidden to .showcase1 then remove .hidden from #showcase1-document">
      <i class="fa-light fa-file-pen"></i>  Document
    </a>
    <a  class=" space-x-6 space-y-4 showcase1-buttons " _="on click remove .showcase1-buttons-active from .showcase1-buttons then add .showcase1-buttons-active to me then add .hidden to .showcase1 then remove .hidden from #showcase1-investigate">
      <i class="fa-regular fa-nfc-magnifying-glass"></i>  Investigate
    </a>
    <a  class=" space-x-6 space-y-4 showcase1-buttons " _="on click remove .showcase1-buttons-active from .showcase1-buttons then add .showcase1-buttons-active to me then add .hidden to .showcase1 then remove .hidden from #showcase1-dependencies">
      <i class="fa-regular fa-nfc-magnifying-glass"></i> Dependencies 
    </a>
    <a  class=" space-x-6 space-y-4 showcase1-buttons " _="on click remove .showcase1-buttons-active from .showcase1-buttons then add .showcase1-buttons-active to me then add .hidden to .showcase1 then remove .hidden from #showcase1-test">
      <i class="fa-regular fa-flask-vial"></i>  Test
    </a>
  </div>

  <div class="showcase1 " id="showcase1-monitor"  data-hs="fade up">
    <div class="px-4 pt-5">
      <p class="text-2xl pb-3">Be the first to know when your API is down, slow or something changed.</p>
      <div class="sm:columns-2 space-y-3 py-3 text-lg">
        <div><i class="text-blue-900 fa-regular fa-dice text-2xl"></i> &nbsp;Monitor your API changelog</div>
        <div><i class="text-blue-900 fa-solid fa-dice text-2xl"></i> &nbsp;Monitor Changelog of APIs you depend on</div>
        <div><i class="text-blue-900 fa-duotone fa-swap text-2xl"></i> &nbsp;Track Error rates, latency, etc</div>
        <div><i class="text-blue-900 fa-light fa-list-tree text-2xl"></i> &nbsp;Lint your APIs for best practices and team convensions</div>
      </div>

      <a href="/" class="inline-block mb-6 underline">Learn more <i class="fa-solid fa-arrow-right"></i></a>
    </div>

    <video class="lazy w-full border border-blue-900" data-hs="fade up" loop autoplay muted playsinline>
        <source data-src='/assets/video/dashboard.mp4' type='video/mp4'>
        Your browser does not support the video tag.
    </video>
  </div>

  <div class="showcase1 hidden" id="showcase1-changelog"  data-hs="fade up">
   <div class="px-4 pt-5">
      <p class="text-2xl pb-3">Track & approve all changes in your APIs and your Dependencies/Integrations.</p>
      <div class="sm:columns-2 space-y-3 py-3 text-lg">
        <div><i class="text-blue-900 fa-regular fa-dice-d20 text-2xl"></i> &nbsp;Catch Breaking Changes</div>
        <div><i class="text-blue-900 fa-regular fa-sharp fa-cloud-arrow-up text-2xl"></i> &nbsp;Hold your providers & Integrations to their SLAs</div>
        <div><i class="text-blue-900 fa-regular fa-sharp fa-group-arrows-rotate text-2xl"></i> &nbsp;Know which dependencies caused an issue</div>
        <div><i class="text-blue-900 fa-regular fa-sharp fa-network-wired text-2xl"></i> &nbsp;Escalate unannounced/mistaken changes as incidents</div>
        <div><i class="text-blue-900 fa-regular fa-puzzle text-2xl"></i> &nbsp;Easily add changes to your API docs</div>
      </div>
      <a href="/" class="inline-block mb-6 underline">Learn more <i class="fa-solid fa-arrow-right"></i></a>
    </div>

    <video class="border border-blue-900 lazy w-full" data-hs="fade up" loop autoplay muted playsinline>
        <source data-src='/assets/video/anomalies.mp4' type='video/mp4'>
        Your browser does not support the video tag.
    </video>
  </div>

  <div class="showcase1 hidden" id="showcase1-document"  data-hs="fade up">
   <div class="px-4 pt-5">
      <p class="text-2xl pb-3">Your APIs should be part of your documentation & Knowlege strategy.</p>
      <div class="sm:columns-2 space-y-3 py-3 text-lg">
        <div><i class="text-blue-900 fa-regular fa-dice-d20 text-2xl"></i> &nbsp;Autogenerated API Specs/Docs from live traffic</div>
        <div><i class="text-blue-900 fa-regular fa-sharp fa-cloud-arrow-up text-2xl"></i> &nbsp;Upload swagger/OpenAPI specs from CI/dashboard</div>
        <div><i class="text-blue-900 fa-regular fa-sharp fa-group-arrows-rotate text-2xl"></i> &nbsp;Sync API Docs to Notion/Confluence (Coming Soon)</div>
        <div><i class="text-blue-900 fa-regular fa-sharp fa-network-wired text-2xl"></i> &nbsp;Setup internal or public documentation</div>
        <div><i class="text-blue-900 fa-regular fa-puzzle text-2xl"></i> &nbsp;Track Documentation changes over time</div>
      </div>
      <a href="/" class="inline-block mb-6 underline">Learn more <i class="fa-solid fa-arrow-right"></i></a>
    </div>

    <video class="border border-blue-900 lazy w-full" data-hs="fade up" loop autoplay muted playsinline>
        <source data-src='/assets/video/APIToolkitDocumentation.mp4' type='video/mp4'>
        Your browser does not support the video tag.
    </video>
  </div>

  <div class="showcase1 hidden" id="showcase1-dependencies"  data-hs="fade up">
   <div class="px-4 pt-5">
      <p class="text-2xl pb-3">Know when your Dependencies/Integrations are unreliable or cause breaking changes.</p>
      <div class="sm:columns-2 space-y-3 py-3 text-lg">
        <div><i class="text-blue-900 fa-regular fa-dice-d20 text-2xl"></i> &nbsp;Catch Breaking Changes</div>
        <div><i class="text-blue-900 fa-regular fa-sharp fa-cloud-arrow-up text-2xl"></i> &nbsp;Hold your providers & Integrations to their SLAs</div>
        <div><i class="text-blue-900 fa-regular fa-sharp fa-group-arrows-rotate text-2xl"></i> &nbsp;Know which dependencies caused an issue</div>
        <div><i class="text-blue-900 fa-regular fa-sharp fa-network-wired text-2xl"></i> &nbsp;Monitor Performance and latency of API dependencies</div>
      </div>
      <a href="/" class="inline-block mb-6 underline">Learn more <i class="fa-solid fa-arrow-right"></i></a>
    </div>
    <div class="border border-blue-900" data-hs="fade up">
      <div  class="lazy home-feature-image-div overflow-hidden">
        <img src="/assets/img/integrations/testing_coming_soon.png" class="w-full h-full  contain"/>
      </div>
    </div>
 <!--   <video class="border border-blue-900 lazy w-full" data-hs="fade up" loop autoplay muted playsinline>
        <source data-src='/assets/video/APIToolkitDocumentation.mp4' type='video/mp4'>
        Your browser does not support the video tag.
    </video> -->
  </div>

  <div class="showcase1 hidden" id="showcase1-investigate"  data-hs="fade up">
     <div class="px-4 pt-5">
        <p class="text-2xl pb-3">Don't rely only on your customers for information to reproduce bugs.</p>
        <div class="sm:columns-2 space-y-3 py-3 text-lg">
          <div><i class="text-blue-900 fa-regular fa-dice-d20 text-2xl"></i> &nbsp;Trail API requests happening in Real time</div>
          <div><i class="text-blue-900 fa-regular fa-sharp fa-cloud-arrow-up text-2xl"></i> &nbsp;Search & View requests Customer are making</div>
          <div><i class="text-blue-900 fa-regular fa-sharp fa-group-arrows-rotate text-2xl"></i> &nbsp;Filter & reproduce failing client API requests</div>
          <div><i class="text-blue-900 fa-regular fa-sharp fa-network-wired text-2xl"></i> &nbsp; Link errors to API dependency failures/changes</div>
        </div>
        <a href="/" class="inline-block mb-6 underline">Learn more <i class="fa-solid fa-arrow-right"></i></a>
      </div>
        <div class="border border-blue-900" data-hs="fade up">
            <video class="lazy w-full" loop autoplay muted playsinline>
                <source data-src='/assets/video/log_explorer.mp4' type='video/mp4'>
                Your browser does not support the video tag.
            </video>
        </div>
  </div>
    <div class="showcase1 hidden" id="showcase1-test"  data-hs="fade up">
     <div class="px-4 pt-5">
        <p class="text-2xl pb-3">Don't wait for errors to happen. Automate testing out your Critical path.</p>
        <div class="sm:columns-2 space-y-3 py-3 text-lg">
          <div><i class="text-blue-900 fa-regular fa-dice-d20 text-2xl"></i> &nbsp;Low code & No code API tests and assertions</div>
          <div><i class="text-blue-900 fa-regular fa-sharp fa-cloud-arrow-up text-2xl"></i> &nbsp;Performance & Load Testing on a schedule</div>
          <div><i class="text-blue-900 fa-regular fa-sharp fa-group-arrows-rotate text-2xl"></i> &nbsp;Validate data and responses</div>
          <div><i class="text-blue-900 fa-regular fa-sharp fa-network-wired text-2xl"></i> &nbsp;API security tests and validations</div>
          <div><i class="text-blue-900 fa-regular fa-puzzle text-2xl"></i> &nbsp;API Uptime monitor</div>
        </div>
        <a href="/" class="inline-block mb-6 underline">Learn more <i class="fa-solid fa-arrow-right"></i></a>
      </div>
        <div class="border border-blue-900" data-hs="fade up">
            <div  class="lazy home-feature-image-div overflow-hidden">
              <img src="/assets/img/integrations/testing_coming_soon.png" class="w-full h-full  contain"/>
            </div>
            <!-- <video class="w-full" loop autoplay muted playsinline> -->
            <!--     <source src='/assets/video/APIToolkitDashboardTrimmed.mp4' type='video/mp4'> -->
            <!--     Your browser does not support the video tag. -->
            <!-- </video> -->
        </div>
    </div>
    <div data-hs="fade up" class="mt-2"><a href="https://www.loom.com/share/24ea3ae9600544d68f1001af3f4feac2" target="_blank" class="inline-block bg-blue-900 text-white px-3 py-1 text-xs rounded-lg" >Learn how APIToolkit works (Video)</a></div>

</div>
